<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>
    <div class="container">
        <div class="container" th:replace="~{base :: header (title=${lexicontitle})}"></div>

        <form class="form-inline" th:object="${selector}" method="post">
            <input type="hidden" name="id" th:value="${lexicon}"></input>
            <div class="form-group">
                <label th:text="|#{galloitalici.kb.lexica.selection.label} #{galloitalici.kb.lexica.selection.pos.label}|">Select label</label>
                <select class="custom-select" th:field="*{pos}">
                    <option th:value="|any|" th:text="#{galloitalici.kb.lexica.selection.pos.any}"></option>
                    <option th:value="@{http://www.lexinfo.net/ontology/3.0/lexinfo#noun}" th:text="#{galloitalici.kb.lexica.selection.pos.nouns}"></option>
                    <option th:value="@{http://www.lexinfo.net/ontology/3.0/lexinfo#verb}" th:text="#{galloitalici.kb.lexica.selection.pos.verbs}"></option>
                </select>
                <!-- label th:text="#{galloitalici.kb.lexica.selection.features.label}">Features label</label>
                <select class="custom-select" th:field="*{featureType}">
                    <option th:value="|any|" th:text="#{galloitalici.kb.lexica.selection.features.any}"></option>
                    <option th:value="${gskb.hasNorthernItalyFeatureClass}" th:text="#{galloitalici.kb.lexica.selection.features.northern}"></option>
                    <option th:value="${gskb.hasSouthernItalyFeatureClass}" th:text="#{galloitalici.kb.lexica.selection.features.southern}"></option>
                </select -->
            <button id="page" name="page" type="submit" class="btn btn-primary" th:value="*{page}" th:text="#{galloitalici.kb.lexica.selection.sumbmit}"></button>
            </div>
            <div class="form-group">
                <!-- results pagination -->
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:class="${iterStatus.index}==*{page} ? 'page-item active' : 'page-item'" th:each="p, iterStatus: ${pages}">
                            <button name="page" th:class="page-link" th:value="${iterStatus.index}" th:text="${p}">page</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </form>
        <p class="btn btn-info" th:text="#{galloitalici.kb.lexica.selection.numentries(${size})}">Trovati n elementi.</p>


        <!-- entries -->
        <table class="table table-bordered">
            <tbody th:each="entry : ${entries}">
                <tr class="table-primary">
                    <th scope="rowcol" colspan="2" th:text="|${entry.writtenRep} (${entry.partOfSpeech})|"></th>
                </tr>
                <tr>
                    <th th:text="#{galloitalici.kb.lexica.etymology}" scope="row">Etymology</th>
                    <td th:text="#{galloitalici.kb.lexica.etymology.na}"
                       th:if="${#sets.isEmpty(entry.latinEtymon) and #lists.isEmpty(entry.derivation)}">
                    </td>
                    <td th:if="${(not #sets.isEmpty(entry.latinEtymon)) and #lists.isEmpty(entry.derivation)}">
                        <ul>
                            <li class="btn btn-outline-primary" th:each="c : ${entry.latinEtymon}"><span th:if="${c.seeAlso == null}" th:remove="tag" th:text="${c.label}">etymon</span><a th:unless="${c.seeAlso == null}" th:href="${c.seeAlso}" th:text="${c.label}">etymon</a></li>
                        </ul>
                    </td>
                    <td th:unless="${#lists.isEmpty(entry.derivation)}">
                        <ol class="list-inline">
                            <li class="list-inline-item" th:each="o : ${entry.derivation}" >
                                <a class="btn btn-outline-primary" th:href="${o.occurrenceOf.id}" th:text="${o.occurrenceOf.label}" th:title="${o.occurrenceOf.comment}" target="gs-features">missing phenomena</a>
                                <span th:text="${o.source.writtenRep.get}">missing written rep</span>
                            </li>
                        </ol>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
