<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>
<div class="container" th:replace="~{base :: header (title='Production workflow for the ontology of Nouns and Verbs of the Gallo-Italic variety spoken in Nicosia and Sperlinga')}"></div>
<div class="container" th:replace="~{base :: ontology (comment='This page describes all the production steps for the ontology of Nouns and Verbs of the Gallo-Italic variety spoken in Nicosia and Sperlinga, among with the utilized software tools and the intermediate products.')}"></div>
<div class="container">
    <p><a id="nicosiaesperlinga-base.ttl" th:href="nicosiaesperlinga-base.ttl" type="text/turtle">nicosiaesperlinga-base.ttl</a>
        is an OWL ontology providing the Lexicon metadata. It is the base OWL ontology containing just the ontology individual, the lexicon one and some entries, which will has to be populated with all the remaining lexical entries in the Gallo-Italic variety spoken in Nicosia e Sperlinga.
    </p>
    <p><a th:href="pdfimporter.jar" type="application/java-archive">pdfimporter</a> is a tool that extracts
    lemmas from the <a href="https://www.csfls.it/res/edizioni/catalogo/als/materiali-ricerche-dellals/alsm39-salvatore-trovato-salvatore-menza-vocabolario-dialetto-galloitalico-nicosia-sperlinga/">Vocabolario
            del dialetto galloitalico di Nicosia e Sperlinga</a> and places the corresponding entries into nicosiaesperlinga-base.ttl.</p>
    <p>Thus, running the following command in the same directory with nicosiaesperlinga-base.ttl
    will produce <a id="nicosiaesperlinga-lemmas.ttl" th:href="nicosiaesperlinga-lemmas.ttl" type="text/turtle">nicosiaesperlinga-lemmas.ttl</a>, i.e.,
    an ontology with all the nouns and verbs of the Gallo-Italic variety spoken in Nicosia and Sperlinga.</p>
    <pre><code> java -jar pdfimporter.jar nicosiaesperlinga.pdf</code></pre>

    <p><a th:href="sicilian-derivationbuilder.jar" type="application/java-archive">sicilian-derivationbuilder</a> finds
        out, using a brute force approach, all the possible derivations through <a href="/ns/gs-features">Gallo-Sicilian Features</a>
        which transform Sicilian etymons into lemmas in nicosiaesperlinga-lemmas.ttl.</p>
    <pre><code> java -jar sicilian-derivationbuilder.jar nicosiaesperlinga-lemmas.ttl</code></pre>

    <p>It produces the file <a th:href="derivations-bf.csv" type="text/csv">derivations-bf.csv</a>, enumerating one derivation per row.
    These derivations have the form
    <code> lemma <--feature_label_1--intermediate_form_1<-- ... intermediate_form_n<--feature_label_n<--sicilian_etymon java</code>
    </p>

    <p>This file is then revised and reworked by lexicographers that eliminate multiple derivations for the same lemma,
    remove unplausible ones, and add further derivations produced using the <a href="/derivation">online derivation tool</a>.</p>

    <p><a th:href="derivations-revised.csv" type="text/csv">derivations-revised.csv</a> is the file that resulted
    after the manual intervention of lexicographers.</p>

    <p>These derivations are then imported into the final ontology of nouns and verbs in the gallo-italic variety spoken in Nicosia e
        Sperlinga using <a th:href="gs-derivationsimporter.jar" type="application/java-archive">gs-derivationsimporter</a>. This tool takes as input three arguments:</p>
    <ol>
        <li>the derivation file,</li>
        <li>the OWL TTL file where the derivations will be placed and</li>
        <li>the language tag for the etymons.</li>
    </ol>
    <p>When run without arguments, it searches for derivations-revised.csv as derivations file,
    copies nicosiaesperlinga-lemmas.ttl into <a th:href="@{https://gallosicliani.unict.it/ns/nicosiaesperlinga}">nicosiaesperlinga.ttl</a> and places derivations in it
    indicating <code>sic</code> as language tag for etymons.</p>

    <pre><code> java -jar gs-derivationsimporter.jar</code></pre>

    <p>The imported derivations can be verified by means of <a th:href="liph-validator.jar" type="application/java-archive">liph-validator</a>,
    a tool that checks that all the derivation steps occurring in a ontology are compliant with the definition of the linguistic phenomena they refers to.
        More in details, liph-validator takes as arguments</p>
    <ol>
        <li>an ontology containing <a th:href="@{https://gallosiciliani.unict.it/ns/liph#LinguisticPhenomenonOccurrence}">linguistic phenomena occurrences</a> and</li>
        <li>another ontology containing <a th:href="@{https://gallosiciliani.unict.it/ns/liph#FiniteStateLinguisticPhenomenon}">finite state definitions</a> of the linguistic phenomena.</li>
    </ol>
    <p>In our context</p>
    <pre><code> java -jar liph-validator.jar nicosiaesperlinga.ttl https://gallosiciliani.unict.it/ns/gs-features?ttl</code></pre>


    <p><a th:href="@{gs-derivationsextractor.jar}" type="application/java-archive">gs-derivationsextractor</a> allows one to
    produce a CSV file useful for statistical purposes enumerating all the derivations in an OWL ontology in turtle format,
        provided that the linguistic phenomena in the derivations are in the <a th:href="@{/ns/gs-features}">GalloSicilian Features Ontology</a>.</p>
    <p>The former argument of gs-derivationsextractor is the ontology file in turtle format, whereas the latter is the name
    of the CSV file which will be produced.</p>

    <pre><code> java -jar gs-derivationsextractor.jar nicosiaesperlinga.ttl derivations-ext.csv</code></pre>

    <p>The generated file <a th:href="@{derivations-ext.csv}">derivations-ext.csv</a> has the following columns:</p>

    <table class="table">
        <tbody>
        <tr>
            <th scope="row">id</th>
            <td>a unique identifier for the row</td>
        </tr>
        <tr>
            <th scope="row">lemma vnisp</th>
            <td>indicating the Gallo-Sicilian lemma ending the derivation</td>
        </tr>
        <tr>
            <th scope="row">derivazione</th>
            <td>containing the derivation</td>
        </tr>
        <tr>
            <th scope="row">tratti disattesi</th>
            <td>enumerating all the Gallo-Sicilian features which could have affected the etymon, but are not in the derivation</td>
        </tr>
        <tr>
            <th scope="row">nuovo indice di galloitalicità</th>
            <td>the rate between the total number of the Gallo-Sicilian features which could have
        affected the etymon and those that occurred in the derivation</td>
        </tr>
        <tr>
            <th scope="row">Afer</th>
            <td>`sì` if there is some feature belonging to the category <a th:href="@{/ns/gs-features#Afer}">Apheresis</a>, `no` otherwise</td>
        </tr>
        <tr>
            <th scope="row">Assib</th>
            <td>`sì` if there is some feature belonging to the category <a th:href="@{/ns/gs-features#Assib}">Assibilation</a>, `no` otherwise</td>
        </tr>
        <tr>
            <th scope="row">Degem</th>
            <td>`sì` if there is some feature belonging to the category <a th:href="@{/ns/gs-features#Degem}">Degemination</a>, `no` otherwise;</td>
        </tr>
        <tr>
            <th scope="row">Deretr</th>
            <td>`sì` if there is some feature belonging to the category <a th:href="@{/ns/gs-features#Deretr}">Deretroflexion</a>, `no` otherwise</td>
        </tr>
        <tr>
            <th scope="row">Dissim</th>
            <td>`sì` if there is some feature belonging to the category <a th:href="@{/ns/gs-features#Dissim}">Dissimilation</a>, `no` otherwise</td>
        </tr>
        <tr>
            <th scope="row">Ditt</th>
            <td>sì` if there is some feature belonging to the category <a th:href="@{/ns/gs-features#Ditt}">Diphthongization</a>, `no` otherwise</td>
        </tr>
        <tr>
            <th scope="row">Leniz</th>
            <td>`sì` if there is some feature belonging to the category <a th:href="@{/ns/gs-features#Leniz}">Lenition</a>, `no` otherwise</td>
        </tr>
        <tr>
            <th scope="row">Palat</th>
            <td>`sì` if there is some feature belonging to the category <a th:href="@{/ns/gs-features#Palat}">Palatalization</a>, `no` otherwise</td>
        </tr>
        <tr>
            <th scope="row">Vocal</th>
            <td>`sì` if there is some feature belonging to the category <a th:href="@{/ns/gs-features#Vocal}">Vocalization</a>, `no` otherwise</td>
        </tr>
        <tr>
            <th scope="row">microtratto 1</th>
            <td>for the first feature in the derivation, if any</td>
        </tr>
        <tr>
            <th scope="row">microtratto 2</th>
            <td>for the second feature in the derivation, if any</td>
        </tr>
        <tr>
            <th scope="row">microtratto 3</th>
            <td>for the third feature in the derivation, if any</td>
        </tr>
        <tr>
            <th scope="row">microtratto 4</th>
            <td>for the fourth feature in the derivation, if any</td>
        </tr>
        <tr>
            <th scope="row">microtratto 5</th>
            <td>for the fifth feature in the derivation, if any</td>
        </tr>
        <tr>
            <th scope="row">microtratto 6</th>
            <td>for the sixth feature in the derivation, if any</td>
        </tr>
        <tr>
            <th scope="row">microtratto 7</th>
            <td>for the seventh feature in the derivation, if any</td>
        </tr>
        <tr>
            <th scope="row">microtratto 8</th>
            <td>for the eighth feature in the derivation, if any</td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>