<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>
<div class="container" th:replace="~{base :: header (title=${project.label})}"></div>
<div class="container" th:replace="~{base :: ontology (comment=${project.comment})}"></div>
<div class="container">
    <p>The following OWL vocabularies and datasets have been developed in the scope of this project.</p>
    <ul class="list-group">
        <li class="list-group-item" th:each="r : ${results}">
            <a th:href="@{${r.id}}" th:text="${r.label}"></a>
        </li>
    </ul>
</div>

<div class="container">
    <p>The whole production workflow for the ontology of <a th:href="@{/ns/lexica/nicosiaesperlinga/workflow}">Nouns and Verbs of the Gallo-Italic variety spoken in Nicosia and Sperlinga</a>,
        aside with all the software tools and intermediate products, is available in the <a th:href="@{/ns/lexica/nicosiaesperlinga}">workflow</a> page.</p>

    <p>
    In addition, the <a th:href="@{https://github.com/Gallosiciliani/languagefeatures}">Gallo-Siciliani github repository</a>
    provide all the source codes of these tools.</p>
</div>
</body>
</html>