<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>
    <div class="container" th:replace="~{base :: header (title=${title})}"></div>
    <div class="container" th:replace="~{base :: ontology (comment=${comment})}"></div>

    <div class="container">
        <table class="table table-bordered">
            <tbody th:each="c: ${categories}" >
                <tr th:id="${c.id}">
                    <th scope="row" th:text="${c.label}">missing label</th>
                    <td th:text="${c.comment}">missing comment</td>
                </tr>
                <tr th:each="p: ${c.members}" th:id="${p.id}">
                    <td th:text="${p.label}">missing label</td>
                    <td th:text="${p.comment}">missing comment</td>
                </tr>

            </tbody>
        </table>
    </div>
</body>
</html>