<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>
    <div class="container" th:replace="~{base :: header (title=${title})}"></div>
    <div class="container" th:replace="~{base :: ontology (comment=${comment})}"></div>

    <div class="container">
        <table class="table table-bordered">
            <tr th:each="p: ${phenomena}" th:id="${p.label}">
                <td th:text="${p.label}">label</td>
                <td th:text="${p.comment}">comment</td>
            </tr>
        </table>
    </div>
</body>
</html>