<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>
<div class="container" th:replace="~{base :: header (title=${project.label})}"></div>
<div class="container" th:replace="~{base :: ontology (comment=${project.comment})}"></div>
<div class="container">
    <h2>Ontologies and Software</h2>
    <p>The following OWL vocabularies and datasets have been developed in the scope of this project.</p>
    <ul class="list-group">
        <li class="list-group-item" th:each="r : ${results}">
            <a th:href="@{${r.id}}" th:text="${r.label}"></a>
        </li>
    </ul>
</div>

<div class="container">
    <p>The whole production workflow for the ontology of <a th:href="@{/ns/lexica/nicosiaesperlinga}">Nouns and Verbs of the Gallo-Italic variety spoken in Nicosia and Sperlinga</a>,
        aside with all the software tools and intermediate products, is available in the <a th:href="@{/ns/lexica/nicosiaesperlinga/workflow}">workflow</a> page.</p>

    <p>
    In addition, the <a th:href="@{https://github.com/Gallosiciliani/languagefeatures}">Gallo-Siciliani github repository</a>
    provide all the source codes of these tools.</p>
</div>

<div class="container">
    <h2>Research Papers</h2>
    <p>The scientific works funded by the project are the followings:</p>
    <ul class="list-group">
        <li class="list-group-item">
            <a th:href="@{https://www.mdpi.com/2226-471X/8/3/163}">The Strange Case of the Gallo-Italic Dialects of Sicily: Preservation and Innovation in Contact-Induced Change</a>
        </li>
        <li class="list-group-item">
            <a th:href="@{https://riviste.unige.it/index.php/polyphonie/article/view/2396}">Sulla creatività linguistica della perifrasi ‘mostrare a’ + infinito nel dialetto galloitalico di Nicosia</a>
        </li>
        <li class="list-group-item">
            <a th:href="@{https://edizionicafoscari.unive.it/it/edizioni4/riviste/annali-di-ca-foscari-serie-occidentale/2024/58/contact-induced-change-in-sicilian-gallo-italic/}">Contact-induced change in Sicilian Gallo-Italic. The multipurpose Aviri a + Infinitive Construction in the dialect of Nicosia</a>
        </li>
        <li class="list-group-item">
            <a th:href="@{https://ceur-ws.org/Vol-3809/paper2.pdf}">An OWL Ontology for Linguistic Phenomena with
                Applications to Gallo-Italic Dialects in Sicily</a>
        </li>
        <li class="list-group-item">
            <a th:href="@{https://www.libraweb.net/riviste.php?chiave=8}">Grammatiche scisse nel contatto linguistico:
                il caso delle minoranze galloitaliche in Sicilia. Parte prima</a>
        </li>
        <li class="list-group-item">
            <a th:href="@{https://www.pendragon.it/catalogo/riviste/rivista-italiana-di-dialettologia/rivista-italiana-di-dialettologia-48-detail.html}">Sulla questione dell’alternanza tra perfetto analitico e perfetto sintetico in siciliano</a>
        </li>
        <li class="list-group-item">
            <a th:href="@{https://onlinelibrary.wiley.com/doi/10.1111/1467-968X.12292}">REVISITING SYNTACTIC MICROVARIATION AND DIACHRONY IN THE DUAL COMPLEMENTIZER SYSTEMS OF UPPER SOUTHERN ITALY</a>
        </li>
        <li class="list-group-item">
            <a th:href="@{https://forumeditrice.it/percorsi/lingua-e-letteratura/convegni/lingue-minoritarie-italiano-nel-mondo}">Bad rules, good rules: il caso della marcatura differenziale
                dell’oggetto in un dialetto galloitalico di Sicilia</a>
        </li>
        <li class="list-group-item">
            <a th:href="@{https://revistes.uab.cat/isogloss/article/view/v11-n6-castiglione}">
                The gender system in the Gallo-Italic minority varieties in Sicily between convergence and diversity
            </a>
        </li>
    </ul>
</div>
</body>
</html>